@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-article {
  color: #fff;
}
#content5-17 .mbr-article UL {
  text-align: left;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#slider2-5 P {
  color: #000000;
  font-size: 10px;
  text-align: right;
}

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#content4-7 P {
  text-align: left;
}

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#slider-10 H1 {
  color: #2c82c9;
}
